In [31]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
import csv
df = pd.read_csv('info-rrhh-por-genero.csv', header = None, delimiter="\t", quoting=csv.QUOTE_NONE, encoding='utf-8')

NameError: name 'pd' is not defined

In [27]:
print(df.head(10))

                                                   0
0             ;GRUPO;Jerarquia; Q Varones; Q Mujeres
1       ;Autoridades Superiores;Jefe de Gobierno;1;0
2     ;Autoridades Superiores;"Vicejefe de Gobierno
3                                              ";1;0
4            ;Autoridades Superiores;Secretario;13;8
5               ;Autoridades Superiores;Ministro;8;4
6  ;Autoridades Superiores;Gerente General Sindic...
7   ;Autoridades Superiores;Titular de Organismo;2;1
8        ;Autoridades Superiores;Subsecretario;68;26
9  ;Autoridades Superiores;Subdirector Gral AGIP;...

In [36]:

import pandas as pd

df = pd.DataFrame(
                   data= [['Jefe de Gobierno', 1, 0],
                        ['Vicejefe de Gobierno', 1, 0],
                        ['Secretario', 13, 8],
                        ['Ministro', 8, 4],
                        ['Gerente General Sindicatura', 2, 2 ],
                        ['Titular de Organismo', 2, 1 ],
                        ['Subsecretario', 68, 26 ],
                        ['Subdirector General AGIP', 14, 3],
                        ['Director General',197, 133 ],
                        ['Auditor Interno', 12, 10],
                        ['Controlador', 55, 78],
                        ['Miembro de Junta Comunal', 57, 47]],
 
                    columns=['Jerarquia', 'HOMBRES', 'MUJERES']
                )
df

                      Jerarquia  HOMBRES  MUJERES
0              Jefe de Gobierno        1        0
1          Vicejefe de Gobierno        1        0
2                    Secretario       13        8
3                      Ministro        8        4
4   Gerente General Sindicatura        2        2
5          Titular de Organismo        2        1
6                 Subsecretario       68       26
7      Subdirector General AGIP       14        3
8              Director General      197      133
9               Auditor Interno       12       10
10                  Controlador       55       78
11     Miembro de Junta Comunal       57       47